URxvt*font: xft:MesloLGS\ NF:size=11
!URxvt*font: xft:Hack Nerd Font:pixelsize=12,xft:UbuntuMono Nerd Font:pixelsize=12
URxvt*scrollBar:        false


*antialias:  true
*autohint:   true


URxvt.perl-ext-common: default,fullscreen,resize-font
! fullscreen with F11
URxvt.keysym.F11: perl:fullscreen:switch

! `font-size` plugin
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up


*.foreground:   #eaeaea
*.background:   #2c323b
*.cursorColor:  #3d3d3d

! black
*.color0:       #242a32
*.color8:       #666666

! red
*.color1:       #d54e53
*.color9:       #ec3e45

! green
*.color2:       #98c379
*.color10:      #90c966

! yellow
*.color3:       #e5c07b
*.color11:      #edbf69

! blue
*.color4:       #83a598
*.color12:      #73ba9f

! magenta
*.color5:       #c678dd
*.color13:      #c858e9

! cyan
*.color6:       #70c0ba
*.color14:      #2bcec2

! white
*.color7:       #eaeaea
*.color15:      #ffffff


! Restore Ctrl+Shift+(c|v)
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
!URxvt.iso14755: false
URxvt.iso14755_52: false

! Common navigation  Keybinds

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy, Paste + More

URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 2 
URxvt.url-select.autocopy:true
